<.map leds={@leds} />

<div>LDR: <%= @ldr %></div>

<table>
    <%= for %{station: station} <- @leds do %>
        <tr>
            <td><%= station.id %></td>
            <td><%= station.metar.category %></td>
        </tr>
    <% end %>
</table>
