<div class="relative bg-grey-light" style="width: 500px; height: 300px">
    <%= for %{station: station} <- @leds do %>
        <div class="absolute" style={station_position_style(station)}>
            •
        </div>
    <% end %>
</div>

<div>LDR: <%= @ldr %></div>

<table>
    <%= for %{station: station} <- @leds do %>
        <tr>
            <td><%= station.id %></td>
            <td><%= station.metar.category %></td>
        </tr>
    <% end %>    
</table>
